APP_URL=
NODE_ENV=

#Auth

APP_SECRET=barangaricotirimihuaro

#Database

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

#Mongo
MONGO_URL=

#Redis

REDIS_HOST = 127.0.0.1
REDIS_PORT= 6379

#Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAILS_PASS=

# Sentry

SENTRY_DSN=
