<strong> Olá, {{ provider}}</strong>
<p>Hou um Cancelamento de horário, conffira os detalhes abaixo:</p>
<p>
    <strong> Client: </strong> {{user}}<br/>
    <strong>Data/hora:</strong>  {{date}}<br/>
    <br/>
    <small>
        o horário está novamente disponível para novos agendamentos.
    </small>
</p>
